
<h1>Add A Song</h1>
<%= form_for [@board, @song] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, required: true, placeholder: 'Song Name' %>
    <br />
    <%= f.label :album%>
    <%= f.text_field :album, placeholder: 'Album' %>
    <br />
    <%= f.submit %>
<% end %>