<h1>Billboard</h1>
<div class="ui card">
  <div class="image">
 <button class="ui basic button"><i class="icon music"></i><%= link_to 'Add Artist', new_board_artist_path(@board)%></button>
</h1>
  
  </div>
  <div class="content">
    <p class="header">
      <%= @board.title %>
    </p>
    </div>
  </div>
  <div class="extra content">
    <%= link_to 'Edit', edit_board_path(@board) %> |
    <%= link_to 'Back', boards_path %>
    <%= link_to 'Artists', board_artists_path(@board) %>

  </div>
    <div class="ui basic red button">
    
</div>
<%= link_to 'Delete', @board, method: :delete %>